
body
{
    background-color:grey;
    height : 150px;
    padding : 10px 0% 0% 20%;
}

.c1
{
    position : relative;
    height : 135px;
    width : 1460px;
    background-color : rgb(144,144,144);
    padding : 4px 10px 4px 10px;
    border-radius: 10px;
    box-shadow : 10px 10px 15px black;
}

.c2
{
    position : relative;
    width : 1600px;
}

.c3
{
    float: left;
    background-color: rgb(144,144,144);
    padding: 5px 9px 0 0; 
    height: 442px;
    width:140px;
	margin-top: 3px;
	margin-left: 29px;
    border-radius: 10px;
    box-shadow : 10px 10px 15px black;
}

.c4
{
    float: left;
    background-color: rgb(144,144,144);
    height : 590px;
    width : 1050px;
    border-radius: 10px;
    padding : 10px 10px 10px 10px;
    margin-left: 30px;
    box-shadow : 10px 10px 15px black;
}

.c5
{
    float: left;
    height: 442px;
    width:140px;
    background-color: rgb(144,144,144);
    padding : 5px 9px 0 0; 
    border-radius: 10px;
    margin-left: 30px;
    box-shadow : 10px 10px 15px black;
}

.c6
{
	padding : 10px 5px 60px 10px;
	margin-top: 710px;
	margin-left : -40px;
	height : 115px;
	width : 522px;
	color: black;
	position : absolute;
	top : 0;
	background-color: rgb(140,253,142);
	border-radius : 10px;
	box-shadow : 10px 10px 15px black;
	font-family : arial;
	font-size : 17px;
}

#mt0
{
    margin-top: 6px;
    width : 445px;
    right : 50px;
}

#mt1
{
    margin-top: 9px;
    width : 74px;
}

#mt2
{
    margin-top: 6px;
    width : 73px;
    border: 5px solid red;
}

#mt3
{
	background-image : url(resources/brick.jpg);
	background-repeat: repeat;
	background-size: 34px;
	width :128px;
	height: 75px;
	margin-top: 5px;
	background-color: rgb(144,144,144);
}

#r1
{
    position : absolute;
    top : 10px;
    right : 10px;
}

#r2
{
    position : absolute;
    bottom : 10px;
    right : 10px;
}

#r3
{
    position : absolute;
    right : 30px;
    bottom : -20px;
}

#t0
{
	font-size : 18px;
}

#t1
{
	font-size : 38px;
	font-family : 'palatino linotype', 'book antiqua', Palatino, serif;
}

#t2
{
	text-shadow: 5px 5px 5px #FF3939;
}

#t3
{
	font-size: 18px;
	font-family : arial;
}
